

/*
h6{
    color:#355A6D;
    margin: 15px;
    
}

h3{
    color:#355A6D;
    margin: 70px;
    
}
*/

h4{
    color:#355A6D;
    margin: 50px;
    
}

/* class*/

.home_img{
    border-radius: 60px;
    height: 300px;
    width: 300px;
    float: left;
}
.outer-box{
    border-style: inset;
   border-radius: 25px;
    margin: 170px;
    background:#DDBFF0;
}


.inner-box{
    border-style: none;
    background:white;
    margin: 70px;
}

.bio{
     margin-top: 150px;
     margin-bottom: 150px;
}

.project{
    background-color:rgb(72, 72, 97);
    margin-top: 120px;
}

.accordion-button{
     background:rgb(171, 164, 164);
     
}

.card_img{
    height: 200px;

}

h5{
    font-family: "Bitcount Grid Double", system-ui;
}

h3{
    font-family: "Tektur", sans-serif;
}

